project:
  type: website
  output-dir: docs

website:
  title: "Aakriti Poudel"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - resources.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    pagelayout: full

editor: visual

