/*-- scss:defaults --*/

// import google font
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

// color
$dark-green: #757B6D;
$medium-green: #98A08D;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$terracotta: #BD6E53; 
$violet: #846075;
$dark-gray: #5A5856;
$medium-gray: #64605f;

// define quarto variables
$body-bg: $light-green; 
$navbar-bg: $cream;
$navbar-bg: $dark-green;
$navbar-hl: $terracotta;
$link-color: $terracotta;

// Font size customization
$font-size-root: 20px !default;  // 
$font-size-base: 1.0rem !default;  // 
$font-family-base: "EB Garamond", serif !default;  //

// Heading font sizes
$h1-font-size: 2.5rem !default;    // Page title (largest)
$h2-font-size: 1.8rem !default;    // Main section headers
$h3-font-size: 1.6rem !default;   // Subsection headers
$h4-font-size: 1.4rem !default;    // Sub-subsection headers
$h5-font-size: 1.2rem !default;   // Smaller headers
$h6-font-size: 1.0rem !default;    // Smallest headers

// Heading font family (can be different from body)
$headings-font-family: "EB Garamond", serif !default;
$headings-font-weight: 700 !default;
$headings-line-height: 1.3 !default;
$headings-color: $dark-gray !default;  // 

/*-- scss:rules --*/

h1, h2 {
  letter-spacing: 0px;
  font-weight: 700;
}

.title {
  color: maroon;
}

.center-text {
  text-align: center;
}

.orange_text {
  color: orange;
}
